<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-sdk tools:overrideLibrary="androidx.media3.common, androidx.media3.decoder, androidx.media3.extractor, androidx.media3.container, androidx.media3.datasource, androidx.media3.exoplayer, androidx.media3.exoplayer.hls, androidx.media3.ui, androidx.media3.session, androidx.media3.transformer, androidx.media3.effect, androidx.media3.cast, androidx.media3.test.utils" />
    
</manifest>
